.preloader-container svg {
  position: absolute;
  right:4%;
  bottom: 20%;
}

.text--line{
  font-family: ShellyAllegroC;
  font-size: 1.4em;
}

.text-copy {
  fill: none;
  stroke: white;
  stroke-dasharray: 7% 28%;
  stroke-width: 2px;
  animation: stroke-offset 4s forwards cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.text-copy:nth-child(1) {
  stroke: #f0ad4e;
  stroke-dashoffset: 7%;
}

.text-copy:nth-child(2) {
  stroke: #D61C59;
  stroke-dashoffset: 14%;
}

.text-copy:nth-child(3) {
  stroke: #E7D84B;
  stroke-dashoffset: 21%;
}

.text-copy:nth-child(4) {
  stroke: #2e6da4;
  stroke-dashoffset: 28%;
}

.text-copy:nth-child(5) {
  stroke: #1B8798;
  stroke-dashoffset: 35%;
}

@keyframes stroke-offset {
  50% {
    stroke-dashoffset: 35%;
    stroke-dasharray: 0 60.5%;
  }
}

.preloader-container{
  background-size: .11em 100%;
  font: 11em/1 Arial;
  display: block;
  width: 100%;
  height: auto;
  margin-top: 20%;
}

.preloader-img{
  width: 12%;
  height: 12%;
  min-height: 190px;
  min-width: 190px;
  margin: auto;
  display: block;
}

@media(min-width:1400px){
  .preloader-container{
     font: 8em/1 Arial;
     margin-top: 100px;
  }
}

.content {
    display: none;
}

/*Hamburger icon animation*/

.hamburger svg {
	width: 70px;
	height: 60px;
	cursor: pointer;
	transform: translate3d(0, 0, 0);
  right: 0px;
}

.hamburger path {
	fill: none;
	transition: stroke-dashoffset 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25), stroke-dasharray 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25);
	stroke-width: 40px;
	stroke-linecap: round;
	stroke: white;
	stroke-dashoffset: 0px;
}

.hamburger path#top,
.hamburger path#bottom {
	stroke-dasharray: 240px 950px;
}

.hamburger path#middle {
	stroke-dasharray: 240px 240px;
}

.hamburger.cross path#top,
.hamburger.cross path#bottom {
	stroke-dashoffset: -650px;
	stroke-dashoffset: -650px;
}

.hamburger.cross path#middle {
	stroke-dashoffset: -115px;
	stroke-dasharray: 1px 220px;
}